<ScrollView height="100%" iosOverflowSafeAreaEnabled="true">

    <StackLayout orientation="vertical" class="login-bg">
        <GridLayout rows="*" columns="*">
          <image src="res://shortbg" stretch="aspectFit" col="0" row="0"></image>

        <GridLayout rows="*" columns="90,250,200" verticalAlignment="center" horizontalAlignment="center">
           <Label  text="&#xf3e5;" row="0" col="0" class=" ft-35 fas text-white text-center br-radius-25 lbllogin2"  margin="30,25,30,25" ></Label>  
 
          <!-- <image src="res://goback" stretch="aspectFit" col="0" row="0" class="  text-center  lbllogin2" margin="30,25,30,25" padding="10"></image> -->
          <Label text="QWIPO" class="qwipo2 fabold ft50 text-white" alignItems="left" col="1" row="0" margin="0,0,0,10"></Label>
          <Label  col="2" row="0" ></Label>
        </GridLayout>
          
        </GridLayout>
        
        <Label text="Add Location" class="fasemibold text-black ft-30" textWrap="true" padding="25,0,0,10"></Label>
        <Label text="Lorem ipsm dolor sit amet Consectetur........" class="text-grey ft-20 famedium " textWrap="true" padding="10,0,10,10"></Label>
    
        <StackLayout class="text-center" margin="30,0,0,0">
          <image src="res://mapimage" stretch="aspectFill" height="200" width="200"></image>
        </StackLayout>

        <GridLayout rows="70" columns="25,260,60" id="grid_text" class="color-white" style="padding: 0,25,0,25;"  >
          <Label row="0" col="0" class="fas qwipo_color ft-25"  text="&#xf3c5;" verticalAlignment="center" ></Label>
          <TextField row="0" col="1" hint=" Enter Location" id="txt_password" class="text-grey plchdr-gray"
          class="text-grey ft-20 famedium"></TextField> 
          <Label row="0" col="2" class="fas text-white ft-30 lbllocatin text-center" text="&#xf3c5;" padding="10,0,0,0"></Label> 
        </GridLayout>

        <StackLayout height="65" padding="0,15,0,15" margin="10,0,10,0">
          <Button text="Add"  class="ft-21 famedium btnlogin1" ></Button> 
       </StackLayout>

    </StackLayout>
    </ScrollView>    