<ScrollView height="100%" iosOverflowSafeAreaEnabled="true">

    <StackLayout orientation="vertical" class="bg-gray">
        <GridLayout rows="*" columns="*">
          <image src="res://shortbg" stretch="aspectFit" col="0" row="0"></image>

          <GridLayout rows="*" columns="80,300,200" verticalAlignment="center" horizontalAlignment="center">
            <StackLayout row="0" col="0" padding="11,4,4,4" margin="0,0,0,30" class="back_border">
            <image src="res://back" stretch="aspectFit" width="25" class="text-center"></image>
            </StackLayout>
                     <Label text="QWIPO" class="qwipo2 fabold ft-40 text-white" alignItems="center" col="1" row="0" margin="0,20,0,10"></Label>
                   </GridLayout>
          
        </GridLayout>
        
        <Label text="Add Location" class="fasemibold text-black ft-30" textWrap="true" padding="25,0,0,10"></Label>
        <Label text="Lorem ipsm dolor sit amet Consectetur........" class="text-grey ft-17 famedium " textWrap="true" padding="10,0,10,10"></Label>
    
        <StackLayout class="text-center" margin="30,0,0,0">
          <image src="res://mapimage" stretch="aspectFill" height="200" width="200"></image>
        </StackLayout>

        <GridLayout rows="70" columns="25,260,60" id="grid_text" class="bg-white" style="padding: 0,25,0,25;" >
          <Label row="0" col="0" class="fas text-violet ft-25"  text="&#xf3c5;" verticalAlignment="center" ></Label>
          <TextField row="0" col="1" hint=" Enter Location" id="txt_password" class="text-grey plchdr-gray"
          class="text-grey ft-17 famedium"></TextField> 
          <Label row="0" col="2" class="fas text-white ft-30 lbllocatin text-center" text="&#xf05b;" padding="10,0,0,0"></Label>  
        
        </GridLayout>

        <StackLayout height="65" padding="0,15,0,15" margin="10,0,10,0">
          <Button text="Add"  class="ft-21 famedium btnlogin1" ></Button> 
       </StackLayout>

    </StackLayout>
    </ScrollView>    