<ScrollView height="100%" iosOverflowSafeAreaEnabled="true">

    <StackLayout orientation="vertical" class="bg-gray">
        <GridLayout rows="*" columns="*">
          <image src="res://shortbg" stretch="aspectFit" col="0" row="0"></image>
          <GridLayout rows="*" columns="70,300,200" verticalAlignment="center" horizontalAlignment="center">
            <StackLayout row="0" col="0" padding="4,3,3,3" margin="0,0,0,30" class="back_border">
            <image src="res://back" stretch="aspectFit" width="20" class="text-center"></image>
            </StackLayout>
             <Label text="Notifications" class="qwipo2 fabold ft-25 text-white" alignItems="left" col="1" row="0" margin="0,20,0,10"></Label>
                   </GridLayout>
        </GridLayout>
<GridLayout rows="*" columns="60,240,50" class="bg-white" margin="30,20,20,20">
  <Label row="0" col="0"  text="&#xf0f3;" margin="8,10,20,10" class="fas ft-20 text-violet text-center cat_image" backgroundColor="#F5EAFF"></Label>
  <StackLayout row="0" col="1">
    <Label text="Best price on Gold Drop" class="lineheight text-black ft-14 famedium"></Label>
    <Label  text="Gold Drop Refined SunFlower oil 1Literfffffffffffffffffffff" class="lineheight text-grey ft-14 famedium"></Label>
    <Label text="20 April 2021" class="lineheight text-grey ft-14 famedium"></Label> 
  </StackLayout>
  <Label row="0" col="2" text="✕" class="ft-15 text-center text-grey"  margin="0,10,35,10"></Label>
</GridLayout>

<GridLayout rows="*" columns="60,240,50" class="bg-white" margin="20,20,20,20">
   <Label row="0" col="0"  text="&#xf0f3;" margin="8,10,20,10" class="fas ft-20 text-violet 
    text-center cat_image" backgroundColor="#F5EAFF"></Label> 
  <StackLayout row="0" col="1">
    <Label text="Best price and Limited stock available" class="lineheight  text-black ft-14 famedium"></Label>
    <Label  text="Gajraj Rice 32.7/kg only" class="lineheight  text-grey ft-14 famedium"></Label>
    <Label text="20 April 2021" class="lineheight  text-grey ft-14 famedium"></Label> 
  </StackLayout>
  <Label row="0" col="2" text="✕" class="ft-15 text-center text-grey"  margin="0,10,35,10"></Label>
</GridLayout>

</StackLayout>
</ScrollView>  
