<ScrollView height="100%" iosOverflowSafeAreaEnabled="true">
<StackLayout orientation="vertical" class="bg-gray">
<GridLayout rows="auto" columns="*"> 
    <image src="res://contact" stretch="aspectFill" row="0" col="0" ></image>


<StackLayout row="0" col="0" orientation="vertical" margin="20" marginTop="275" class="bg-white cat_image">
    <Label text="Welcome to QWIPO" class="fasemibold ft-30 text-black text-center" margin="15" ></Label>
    <Label text="We are Pleased to inform thay Your Account" class="ft-15 text-center text-black faregular"></Label>
    <Label text="with QWIPO has been Created" class="ft-15 text-center text-black faregular"></Label>
    <Label height="80" margin="10,40,10,40" class="bg-lightviolet cat_image text-center" padding="15,10,15,10" textWrap="true">
        <FormattedString>
             <Span text="Our office timing are &#xa;" class="text-violet  ft-17  famedium" ></Span>
             <Span text="9:00 AM To 6:00 PM IST" class="text-violet ft-20 fasemibold"></Span>
           </FormattedString>
    </Label>
    <Label text="if you have any query or need any further" class="ft-15 text-center text-grey fasemibold"></Label>
    <Label text="help,Please feel free to contact us at " class="ft-15 text-center text-grey fasemibold" margin="0,0,15,0" ></Label>

    <Label text="Email Address" class="ft-15 text-center text-grey fasemibold"></Label>
    <Label text="info@qwipo.com " class="ft-20 text-center text-black faregular" margin="0,0,15,0" ></Label>

    <Label text="Mobile number" class="ft-15 text-center text-grey fasemibold"></Label>
    <Label text="91212 22836" class="ft-20 text-center text-black faregular" margin="0,0,15,0"></Label>

    <Label text="Get the QWIPO App!" class="ft-20 text-center text-green faregular txtunderline" margin="0,0,15,0"></Label>

    <Label text="Have A Nice Day! Team QWIPO....." class="ft-20 text-center text-white fasemibold bg-violet cat_image5" padding="15,10,15,10"></Label>
</StackLayout>

</GridLayout>
</StackLayout>
</ScrollView>