<ScrollView height="100%" iosOverflowSafeAreaEnabled="true">

    <StackLayout orientation="vertical" class="bg-gray">
        <GridLayout rows="*" columns="*">
          <image src="res://shortbg" stretch="aspectFit" col="0" row="0"></image>
          <label text="Terms and Conditions" class="qwipo2 fasemibold ft-25 text-white" col="0" row="0"></label>
        </GridLayout>
        
        <Label text="1. Using our Service" class="fasemibold text-black ft-20" textWrap="true" padding="25,0,0,10"></Label>
        <Label textWrap="true" padding="10,10,10,25" class="lineheight">
          <FormattedString class="text-grey ft-14 faregular" >
            <Span text="Lorem ipsum dolor sit amet,Consectetur adipiscing,"></Span>
            <Span text="sed do eiusmod tempor incididunt ut labore et dolore "></Span>
            <Span text="magna aliqua. Ut enim ad minim veniam, quis nostrud  "></Span>
            <span text="exercitation ullamcolaboris nisi ut aliquip ex eacammo " ></span>
            <span text="do consequat.Duis aute irure dolor in reprehenerit in  "></span>
            <span text="valuptate velitesse cillum dolore eu fugiat nullaparia "></span>
            <span text="tur.Excepteur sint occaecat cupidatat non proident,"></span>
            <span text="sunt in culpa qui officia deserunt mollit anim id est "></span>
            <span text="laborum."></span>
          </FormattedString>
        </Label>

        <Label text="2. Your Account" class="fasemibold text-black ft-20" textWrap="true" padding="25,0,0,10"></Label>
        <Label textWrap="true" padding="10,10,0,25" class="lineheight">
          <FormattedString class="text-grey ft-14 faregular" >
            <Span text="Lorem ipsum dolor sit amet,Consectetur adipiscing ,"></Span>
            <Span text="sed do eiusmod tempor incididunt ut labore et dolore "></Span>
            <Span text="magna aliqua. Ut enim ad minim veniam, quis nostrud  "></Span>
            <span text="exercitation ullamcolaboris nisi ut aliquip ex eacammo " ></span>
            <span text="do consequat."></span>
         
          </FormattedString>
        </Label>


        <Label text="3. Privacy Policy" class="fasemibold text-black ft-20" textWrap="true" padding="25,0,0,10"></Label>
        <Label textWrap="true" padding="10,10,0,25" class="lineheight">
          <FormattedString class="text-grey ft-14 faregular" >
            <Span text="Lorem ipsum dolor sit amet,Consectetur adipiscing ,"></Span>
            <Span text="sed do eiusmod tempor incididunt ut labore et dolore "></Span>
            <Span text="magna aliqua. Ut enim ad minim veniam, quis nostrud  "></Span>
            <span text="exercitation ullamcolaboris nisi ut aliquip ex eacammo " ></span>
            <span text="do consequat.Duis aute irure dolor in reprehenerit in  "></span>
            <span text="valuptate velitesse cillum dolore eu fugiat nullaparia "></span>
            <span text="tur.Excepteur sint occaecat cupidatat non proident,"></span>
            <span text="sunt in culpa qui officia deserunt mollit anim id est "></span>
            <span text="laborum."></span>
          </FormattedString>
        </Label>

        <StackLayout  orientation="horizontal" padding="15,2.5,50,2.5" verticalAlignment="bottom">
          <Button text="Decline"  class="ft-21 famedium btnlogin2" height="55" width="170"></Button> 
          <Button text="Accept"  class="ft-21 famedium btnlogin1" height="55" width="170"></Button>
       </StackLayout>

      </StackLayout>
    </ScrollView>
      
