
<StackLayout backgroundColor="red" margin="150,30,150,40">
<GridLayout rows="250,*" columns="*,50" class="bg-white cat_image" >

    <image src="res://coins" stretch="aspectFill" row="0" col="0"></image>
  <Label row="0" col="1" class="fas text-grey ft-25"  text="&#xf057;" ></Label>
  <StackLayout row="1" col="0">
  <Label text="Cashback" class="fasemibold text-lightblack ft-25 text-center"  ></Label>
<Label text="Your Payment was successful" class="text-lightblack ft-15 famedium text-center"  >
</Label>
<Label text="Your have Got Cashback on your order" class="fasemibold text-lightblack ft-13 text-center" ></Label>
<Label text="₹500" class="fasemibold text-lightblack ft-30 text-center" ></Label>
</StackLayout>
</GridLayout>

</StackLayout>