.btn {
    font-size: 18;
}

@import '~nativescript-theme-core/css/core.light.css';

.home-panel{
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}
.btn {
    font-size: 18;
}

@import '~nativescript-theme-core/css/core.light.css';

.home-panel{
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}





 
#grid_text{
    background-color: #FFFFFF;
    padding:40px;
    border-radius: 22px;
    width: 400;
}


#facebook{
    background-color: #E9EBF1;
    color: #3B589C;
    margin-bottom: 70%;
    border-radius:30px; 
}

#instagram{
    background-color: #F5E4EC;
    color: #D8418C;
    margin-bottom: 70%;
    border-radius:30px; 
}
.ml-30{
    margin-bottom: 70%; 
}

