
.catimage{
    border-radius: 0.5;
}
 
 

.qwipo{  
    height: 40;
  text-align: center; 
    margin-top:25%;
}


#btnlogin{
    margin-bottom: 40%;
    border-radius:30px;
    background-color: #FFFFFF;
    color: #9934FE;
}
 

