 
<ScrollView height="100%" iosOverflowSafeAreaEnabled="true">

  <StackLayout orientation="vertical" class="bg-gray">
      <GridLayout rows="*" columns="*">
        <image src="res://shortbg" stretch="aspectFit" col="0" row="0"></image>
        <GridLayout rows="*" columns="70,300,200" verticalAlignment="center" horizontalAlignment="center">
          <StackLayout row="0" col="0" padding="4,3,3,3" margin="0,0,0,30" class="back_border">
          <image src="res://back" stretch="aspectFit" width="20" class="text-center"></image>
          </StackLayout>
           <Label text="Vendors" class="qwipo2 fabold ft-25 text-white" alignItems="left" col="1" row="0" margin="0,20,0,10"></Label>
                 </GridLayout>
      </GridLayout>

    <GridLayout columns="auto,auto" rows="auto,auto,auto">
      <GridLayout height="260" margin="25,7.5,0,16" rows="*,*" columns="*" row="0" col="0"  width="170" class="cat_image text-center">
         <image  height="150"  width="170" class="cat_image" row="0" col="0"  src="res://person1" stretch="aspectFill" ></image>
         <image  height="50"  width="50"  row="0" col="0"  src="res://phone" stretch="aspectFit" margin="130,4,5,90" ></image>
         <stackLayout  row="1" col="0"  height="120"  width="170">
          <Label text="SUNITHA" class="fas ft-15  text-black famedium left" margin="10,0,0,10"></Label>
          <Label>
             <FormattedString>
              <Span text="&#xf3c5; " class="fas ft-15 "></Span>
              <Span text="79 Clearview Drive"  style="line-height: 1;" class="ft-15 fas text-grey text-center falight"></Span>
             </FormattedString>
         </Label>
         <Label text="Greenwood..." class="fas ft-15 falight action-bar-title text-center text-grey"  ></Label>
       </stackLayout> 
         </GridLayout>

          <GridLayout height="260" margin="25,16,0,7.5" rows="*,*" columns="*" row="0" col="1"  width="170" class="cat_image text-center">
            <image  height="150"  width="170" class="cat_image" row="0" col="0"  src="res://person2" stretch="aspectFill" ></image>
            <image  height="50"  width="50"  row="0" col="0"  src="res://phone" stretch="aspectFit" margin="130,4,5,90" ></image>
            <stackLayout  row="1" col="0"  height="100"  width="170">
             <Label text="Jessy Roy" class="fas ft-15  text-black famedium left" margin="10,0,0,10"></Label>
             <Label>
                <FormattedString>
                  <Span text="&#xf3c5;" class="fas ft-15 "></Span>
                 <Span text=" 79 Clearview Drive"  style="line-height: 1;" class="ft-15 fas text-grey text-center falight"></Span>
                </FormattedString>
            </Label>
            <Label text="Greenwood..." class="fas ft-15 falight action-bar-title text-center text-grey"  ></Label>
          </stackLayout> 
            </GridLayout>
       
              <GridLayout height="260" margin="0,7.5,0,16" rows="*,*" columns="*" row="1" col="0" width="170" class="cat_image text-center">
                <image  height="150"  width="170" class="cat_image" row="0" col="0"  src="res://person3" stretch="aspectFill" ></image>
                <image  height="50"  width="50"  row="0" col="0"  src="res://phone" stretch="aspectFit" margin="130,4,5,90" ></image>
                <stackLayout  row="1" col="0"  height="100"  width="170">
                 <Label text="Danny Walker" class="fas ft-15  text-black famedium left" margin="10,0,0,10"></Label>
                 <Label>
                    <FormattedString>
                      <Span text="&#xf3c5;" class="fas ft-15 "></Span>
                     <Span text=" 79 Clearview Drive"  style="line-height: 1;" class="ft-15 fas text-grey text-center falight"></Span>
                    </FormattedString>
                </Label>
                <Label text="Greenwood..." class="fas ft-15 falight action-bar-title text-center text-grey"  ></Label>
              </stackLayout> 
                </GridLayout>
       
                 <GridLayout height="260" margin="0,16,0,7.5" rows="*,*" columns="*" row="1" col="1"  width="170" class="cat_image text-center">
                   <image  height="150"  width="170" class="cat_image" row="0" col="0"  src="res://person4" stretch="aspectFill" ></image>
                   <image  height="50"  width="50"  row="0" col="0"  src="res://phone" stretch="aspectFit" margin="130,4,5,90" ></image>
                   <stackLayout  row="1" col="0"  height="120"  width="170">
                    <Label text="Austin" class="fas ft-15  text-black famedium left" margin="10,0,0,10"></Label>
                    <Label>
                       <FormattedString>
                        <Span text="&#xf3c5;" class="fas ft-15 "></Span>
                        <Span text=" 79 Clearview Drive"  style="line-height: 1;" class="ft-15 fas text-grey text-center falight"></Span>
                       </FormattedString>
                   </Label>
                   <Label text="Greenwood..." class="fas ft-15 falight action-bar-title text-center text-grey"  ></Label>
                 </stackLayout> 
                   </GridLayout>
                   <GridLayout height="260" margin="0,7.5,0,16" rows="*,*" columns="*" row="2" col="0"  width="170" class="cat_image text-center">
                    <image  height="150"  width="170" class="cat_image" row="0" col="0"  src="res://person5" stretch="aspectFill" ></image>
                    <image  height="50"  width="50"  row="0" col="0"  src="res://phone" stretch="aspectFit" margin="130,4,5,90" ></image>
                    <stackLayout  row="1" col="0"  height="120"  width="170">
                     <Label text="Simons Velly" class="fas ft-15  text-black famedium left" margin="10,0,0,10"></Label>
                     <Label>
                        <FormattedString>
                          <Span text="&#xf3c5;" class="fas ft-15 "></Span>
                         <Span text=" 79 Clearview Drive"  style="line-height: 1;" class="ft-15 fas text-grey text-center falight"></Span>
                        </FormattedString>
                    </Label>
                    <Label text="Greenwood..." class="fas ft-15 falight action-bar-title text-center text-grey"  ></Label>
                  </stackLayout> 
                    </GridLayout>
           
                     <GridLayout height="260" margin="0,16,0,7.5" rows="*,*" columns="*" row="2" col="1"  width="170" class="cat_image text-center">
                       <image  height="150"  width="170" class="cat_image" row="0" col="0"  src="res://person6" stretch="aspectFill" ></image>
                       <image  height="50"  width="50"  row="0" col="0"  src="res://phone" stretch="aspectFit" margin="130,4,5,90" ></image>
                       <stackLayout  row="1" col="0"  height="120"  width="170">
                        <Label text="Joy Root" class="fas ft-15  text-black famedium left" margin="10,0,0,10"></Label>
                        <Label>
                           <FormattedString>
                            <Span text="&#xf3c5;" class="fas ft-15 "></Span>
                            <Span text=" 79 Clearview Drive"  style="line-height: 1;" class="ft-15 fas text-grey text-center falight"></Span>
                           </FormattedString>
                       </Label>
                       <Label text="Greenwood..." class="fas ft-15 falight action-bar-title text-center text-grey"  ></Label>
                     </stackLayout> 
                       </GridLayout>

        </GridLayout>
        </StackLayout>
    </ScrollView>    
    
