<ScrollView height="100%" iosOverflowSafeAreaEnabled="true">
  <StackLayout orientation="vertical" class="bg-gray">

      <GridLayout rows="*" columns="*">
        <image src="res://shortbg1" stretch="aspectFit" col="0" row="0"></image>
        <GridLayout rows="*" columns="70,300,200" verticalAlignment="center" horizontalAlignment="center">
          <StackLayout row="0" col="0" padding="4,3,3,3" margin="0,0,0,30" class="back_border">
          <image src="res://back" stretch="aspectFit" width="20" class="text-center"></image>
          </StackLayout>
           <Label text="Select Payments" class="qwipo2 fasemibold ft-25 text-white" alignItems="left" col="1" row="0" margin="0,20,0,10"></Label>
                 </GridLayout>
      </GridLayout>
  <StackLayout margin="15,20,5,20">
      <Label text="Total Payment" class="ft-23 text-center text-grey fasemibold"></Label>
      <Label text="₹1270.00" class="ft-35 text-center text-green fasemibold" margin="0,0,20,0"></Label>
      <Label text="Please Pay to below Account Details" class="ft-17 text-lightblack fasemibold"></Label>
    </StackLayout>
    <GridLayout rows="*,*,*,*,*" columns="*,*" margin="10,30,20,30" class="bg-white">
<Label row="0" col="0" text="Account Details" class="ft-17 text-lightblack fasemibold" margin="5,10,15,15"></Label>
<Label row="1" col="0" colspan="2" class="line2"></Label>
<Label row="2" col="0"  text="Bank Name" class="ft-15 text-grey faregular" margin="5,10,10,15"></Label>
<Label row="2" col="1"  text="Yes Bank" class="ft-15 text-lightblack faregular" margin="5,10,10,15"></Label>
<Label row="3" col="0"  text="Account" class="ft-15 text-grey faregular" margin="5,10,10,15"></Label>
<Label row="3" col="1"  text="79979979935XXXXX" class="ft-15 text-lightblack faregular" margin="5,10,10,15"></Label>
<Label row="4" col="0"  text="IFSC Code" class="ft-15 text-grey faregular" margin="5,10,10,15"></Label>
<Label row="4" col="1"  text="YESB0CMSNOC" class="ft-15 text-lightblack faregular" margin="5,10,10,15"></Label>
    </GridLayout>
    <GridLayout  rows="*" columns="50,190,80"  margin="0,30,15,30" class="bg-white cat_image">
      <image row="0" col="0" src="res://rupee" stretch="aspectFit"  height="50" margin="0,10,0,0"></image>
      <StackLayout row="0" col="1" height="65">
      <label  text="500 pts" class="text-lightblack ft-23 faregular"></label>
      <label  text="Total reward earned" class="text-lightblack ft-13 faregular"></label>
      </StackLayout>
      <Label row="0" col="2" height="36" text="Redeem" verticalAlignment="center" padding="7" class="ft-15 text-white bg-green faregular cat_image6 text-center" ></Label>
      </GridLayout>

      <Label text="Qwipo will not be responsible is payment are" class="ft-15 text-center text-red fasemibold"></Label>
      <Label text="made other than to this Account" class="ft-15 text-center text-red fasemibold"></Label>
      <Label text="If Already paid try refresh and proceed" class="ft-15 text-center text-red fasemibold" margin="10,0,15,0"></Label>
      <Label text="Select Payment Method" class="ft-17  text-lightblack fasemibold" margin="15"></Label>
      <GridLayout rows="*" columns="300,50" margin="25" height="40" class="bg-white cat_image">
<label row="0" col="0" text="Cash On Delivery" class=" ft-15 text-lightblack faregular " verticalAlignment="center"></label>
<image row="0" col="1" src="res://checkboxcircle" stretch="aspectFit" height="35" width="20" class="text-center"></image>
      </GridLayout>
      <StackLayout height="70" padding="0,15,0,15" margin="15,0,10,0">
        <Button text="Place Order"  class="ft-21 fabold btnlogin1" ></Button> 
     </StackLayout>
      </StackLayout>
      </ScrollView>
