<ScrollView height="100%" iosOverflowSafeAreaEnabled="true">
    <StackLayout orientation="vertical" class="login-bg">
      <GridLayout rows="*" columns="*">
        <image src="res://shortbg" stretch="aspectFit" col="0" row="0"></image>
        <label text="QWIPO" class="qwipo2 fabold ft40 text-white" col="0" row="0"></label>
      </GridLayout>
        <StackLayout class="text-center" margin="30,0,0,0">
          <image src="res://email" stretch="aspectFit" height="175" width="175"></image>
        </StackLayout>
        <Label text="Account Activation" class="fasemibold text-black ft-25 text-center" textWrap="true" padding="35,0,0,10"></Label>

        <GridLayout rows="*,*" columns="*" padding="20,35,10,35" >
          <Label text="Customer Service Number" row="0" col="0" height="35" verticalAlignment="center" class="ft-20 famedium lbllogin text-center"></Label> 
          <Label text="+91 1234567890" row="1" col="0" height="55" verticalAlignment="center" class="ft-30 text-black lbllogin1 famedium  text-center" ></Label> 
        </GridLayout>

      <StackLayout padding="30,15,15,15">
        <Label text="Your Email ID" class="text-grey ft-15 famedium text-center" style="line-height:2px;" ></Label>
        <Label text="venkatlaxminadhneelagiri@gmail.com" class="fasemibold text-black ft-15 text-center" textWrap="true" padding="10,10,0,10"></Label>
      </StackLayout>

    <StackLayout padding="20,15,15,15">
        <Label text="Your Mobile Number" class="text-grey ft-15 famedium text-center" style="line-height:2px;" ></Label>
        <Label text="75057XXXXX" class="fasemibold text-black ft-15 text-center" textWrap="true" padding="10,0,0,10"></Label>
    </StackLayout>

    </StackLayout>
</ScrollView>
