<!-- <GridLayout>
 <SearchBar hint="Search hint" backgroundColor="#D7B7FC" class="cat_image" width="80%" height="40" marginTop="15"
         [text]="searchPhrase" verticalAlignment="top" 
        (submit)="onSearchSubmit($event)">
    </SearchBar> 
 </GridLayout>      -->
 
    <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false" >  

       <StackLayout orientation="horizontal" padding="10 10">
  <GridLayout  rows="150" columns="360,360,360,360,360">
   
   <image src="res://vegetables" stretch="aspectFill" class="cat_image" height="150" width="345" col="0" row="0"  ></image> 

    <image src="res://fruits" stretch="aspectFill" class="cat_image" height="150" width="345" col="1" row="0" ></image> 

    <image src="res://leafy_veg" stretch="aspectFill" class="cat_image" height="150" width="345"  col="2" row="0" ></image> 

    <image src="res://chocolate" stretch="aspectFill" class="cat_image" height="150" width="345" col="3" row="0" ></image> 
    <image src="res://sale" stretch="aspectFill" class="cat_image" height="150" width="345" col="4" row="0" ></image> 

</GridLayout>

</StackLayout>
</ScrollView>
 