
<GridLayout columns="*,*,*,* " rows="*, *," width="400" height="240" >
        <GridLayout row="*,*" columns="*" row="0" col="0" >
            <StackLayout width="100" height="120">
            <StackLayout row="0" col="0" margin="6,6,6,6" class="cat_image" backgroundColor="#FAC9C2"> 
                
                    <Image width="45" height="60" row="0" col="0" margin="9,9,9,9"
                    src="res://tomato">
                    </Image>
                   
            </StackLayout>
                <StackLayout>
                <Label text="Vegitables"  width="90" height="25" row="1" col="0"  backgroundColor="white"></Label>
                </StackLayout>
            </StackLayout>
            </GridLayout>

    <GridLayout row="*,*" columns="*" row="0" col="1" >
        <StackLayout width="100" height="150">
        <StackLayout row="0" col="0" margin="6,6,6,6" class="description_lbl" class="cat_image" backgroundColor="#F4E2B0"> 
            
                <Image width="45" height="60" row="0" col="0" margin="9,9,9,9"
                src="res://banana">
                </Image>
               
        </StackLayout>
            <StackLayout>
            <Label   text="Fruits"  width="90" height="25" row="1" col="0"  backgroundColor="white"></Label>
            </StackLayout>
        </StackLayout>
        </GridLayout>

        <GridLayout row="*,*" columns="*" row="0" col="2" >
            <StackLayout width="100" height="150">
            <StackLayout row="0" col="0" margin="6,6,6,6"  class="cat_image" backgroundColor="#D5F1B6"> 
                
                    <Image width="45" height="60" row="0" col="0" margin="9,9,9,9"
                    src="res://veg">
                    </Image>
                   
            </StackLayout>
                <StackLayout>
                <Label   text="Leafy Veg"  width="90" height="25" row="1" col="0"  backgroundColor="white"></Label>
                </StackLayout>
            </StackLayout>
            </GridLayout> 
   
            <GridLayout row="*,*" columns="*" row="0" col="3" >
                <StackLayout width="100" height="150">
                <StackLayout row="0" col="0" margin="6,6,6,6"  class="cat_image" backgroundColor="#F2F0E3"> 
                    
                        <Image width="45" height="60" row="0" col="0" margin="9,9,9,9"
                        src="res://grain">
                        </Image>
                       
                </StackLayout>
                    <StackLayout>
                    <Label   text="Food Grain"  width="90" height="25" row="1" col="0"  backgroundColor="white"></Label>
                    </StackLayout>
                </StackLayout>
                </GridLayout> 
                
    
                <GridLayout row="*,*" columns="*" row="1" col="0" >
                    <StackLayout width="100" height="150">
                    <StackLayout row="0" col="0" margin="6,6,6,6"  class="cat_image" backgroundColor="#D7F4FC"> 
                        
                            <Image width="45" height="60" row="0" col="0" margin="9,9,9,9"
                            src="res://snacks">
                            </Image>
                           
                    </StackLayout>
                        <StackLayout>
                        <Label text="Snacks"  width="90" height="25" row="1" col="0"  backgroundColor="white"></Label>
                        </StackLayout>
                    </StackLayout>
                    </GridLayout> 

                    <GridLayout row="*,*" columns="*" row="1" col="1" >
                        <StackLayout width="100" height="150">
                        <StackLayout row="0" col="0" margin="6,6,6,6"  class="cat_image" backgroundColor="#F7DCC0"> 
                            
                                <Image width="45" height="60" row="0" col="0" margin="9,9,9,9"
                                src="res://bakery">
                                </Image>
                               
                        </StackLayout>
                            <StackLayout>
                            <Label text="Bakery"  width="90" height="25" row="1" col="0"  backgroundColor="white"></Label>
                            </StackLayout>
                        </StackLayout>
                        </GridLayout>     
    
                        <GridLayout row="*,*" columns="*" row="1" col="2" >
                            <StackLayout width="100" height="150">
                            <StackLayout row="0" col="0" margin="6,6,6,6"  class="cat_image" backgroundColor="#EFF0F2"> 
                                
                                    <Image width="45" height="60" row="0" col="0" margin="9,9,9,9"
                                    src="res://edible_oils">
                                    </Image>
                                   
                            </StackLayout>
                                <StackLayout>
                                <Label text="Edible Oils"  width="90" height="25" row="1" col="0"  backgroundColor="white"></Label>
                                </StackLayout>
                            </StackLayout>
                            </GridLayout> 

                        
                            <GridLayout row="*,*" columns="*" row="1" col="3">
                                <StackLayout width="100" height="150">
                                <StackLayout row="0" col="0" margin="6,6,6,6"  class="cat_image" backgroundColor="#F5F9C6"> 
                                    
                                        <Image width="45" height="60" row="0" col="0" margin="9,9,9,9"
                                        src="res://ice_cream">
                                        </Image>
                                       
                                </StackLayout>
                                    <StackLayout>
                                    <Label text="IceCreams"  width="90" height="25" row="1" col="0"  backgroundColor="white"></Label>
                                    </StackLayout>
                                </StackLayout>
                                </GridLayout> 

</GridLayout>