<ScrollView height="100%" iosOverflowSafeAreaEnabled="true">

    <StackLayout orientation="vertical" class="bg-gray">
        <GridLayout rows="*" columns="*">
          <image src="res://shortbg" stretch="aspectFit" col="0" row="0"></image>

        <GridLayout rows="*" columns="70,300,200" verticalAlignment="center" horizontalAlignment="center">
 <StackLayout row="0" col="0" padding="4,3,3,3" margin="0,0,0,30" class="back_border">
 <image src="res://back" stretch="aspectFit" width="20" class="text-center"></image>
 </StackLayout>
  <Label text="Order Confirmation" class="qwipo2 fabold ft-25 text-white" alignItems="left" col="1" row="0" margin="0,20,0,10"></Label>

        </GridLayout>
        </GridLayout>
        
        <StackLayout class="text-center" margin="30,0,0,0">
            <image src="res://tick" stretch="aspectFit" height="200" width="200"></image>
        </StackLayout>
          <Label text="Your Order is Confirmed" class="fasemibold text-black ft-25 text-center" textWrap="true" padding="25,0,0,10"></Label>
      <Label text="order ID :84567136" class="text-black ft-15 famedium text-center" style="line-height:8px;" textWrap="true" padding="10,0,10,10"></Label>
        <Label text="Order has been Placed Successfully." class="text-green ft-15 famedium text-center" style="line-height:8px;" textWrap="true" padding="10,0,10,10">
    </Label>

  <Label text="Our Delivery agent Will deliver the Requested" class="lineheight text-center text-grey ft-14 famedium"></Label>
  <Label  text="Order in your selected Delivary Slot." class="lineheight text-center text-grey ft-14 famedium"></Label>
  <Label text="Please Track your order details through My Orders" class="lineheight text-center text-grey ft-14 famedium"></Label> 

</StackLayout>
</ScrollView>