 
<ScrollView height="100%" iosOverflowSafeAreaEnabled="false">
<StackLayout orientation="vertical" class="bg-gray">
    <GridLayout rows="*" columns="*" height="40%" verticalAlignment="top">
      <image src="res://logincopy" stretch="aspectFill" col="0" row="0"></image>
      <label text="QWIPO" class="qwipo fabold ft-50 " col="0" row="0"></label>
    </GridLayout>
    
    <Label text="Login to Qwipo" class="fasemibold text-black ft-30" textWrap="true" padding="25,0,0,10"></Label>
    <Label text="Enter Email and Password to continue" class="text-grey ft-17 famedium" textWrap="true" padding="10,0,10,10"></Label>
    <GridLayout rows="*" columns="25,300,*" id="grid_text" class="bg-white" style="padding: 0,15,0,15;"   margin="10,0,10,0">
      <Label row="0" col="0" class="fas text-violet ft-17"  text="&#xf0e0;" verticalAlignment="center"></Label>
      <TextField row="0" col="1" class=" text-grey ft-17 famedium txt_email_addr"  hint="Email Address" ></TextField>  
    </GridLayout>

    <GridLayout rows="*" columns="25,300,*" id="grid_text" style="padding: 0,15,0,15;" class="bg-white"  margin="10,0,10,0">
      <Label row="0" col="0" class="fas text-violet ft-17"  text="&#xf023;" verticalAlignment="center" ></Label>
      <TextField row="0" col="1" hint="Password" secure="true"
      returnKeyType="done" class="text-grey ft-17 famedium txt_email_addr"></TextField> 
      
      <Label row="0" col="2" class="fas text-grey ft-17" verticalAlignment="center" text="&#xf06e;" *ngIf="!ispasswordshow" (tap)="passwordshow()"></Label> 
      <Label row="0" col="2" class="fas text-grey ft-17" verticalAlignment="center" text="&#xf070;" *ngIf="ispasswordshow" (tap)="passwordhide()"></Label>  
    </GridLayout>


    <Label text="Forgot Password?" class="famedium text-black ft-17" horizontalAlignment="right"  textWrap="true" padding="15,15,0,0"></Label>
    <StackLayout height="70" padding="0,15,0,15" margin="15,0,10,0">
      <Button text="Login"  class="ft-21 fabold btnlogin1" (tap)="GoTohomepage()"></Button> 
   </StackLayout>
  
    
    <StackLayout orientation="horizontal" class="text-center" margin="10,50,10,50">
      <label class="line" width="100"></label>
      <Label text="or Login with" class="famedium text-grey ft-15"width="100"></Label> 
      <label class="line1" width="100" ></label>  
    </StackLayout>

    <StackLayout orientation="horizontal" horizontalAlignment="center" margin="10,0,10,0">
      <Button class="ft-21 famedium" id="facebook"  >
        <FormattedString>
          <Span class="fab" text="   &#xf39e;"></Span>
          <Span text="   Facebook "></Span>            
      </FormattedString>
      </Button>
      <Button class="ft-21 famedium" id="instagram" >
        <FormattedString>
          <Span class="fab" text="   &#xf16d;"></Span>
          <Span text="   Instagram "></Span>            
      </FormattedString>
      </Button>   
    </StackLayout>

     <StackLayout orientation="horizontal" class="text-center" width="100%" height="50" 
     verticalAlignment="bottom" style="padding-left: 80;" margin="45">
      <Label (tap)="GoToregistration()">
        <FormattedString>
          <Span text="Don't have an Account?" class="text-black ft-15  famedium"></Span>
          <Span text=" Register" class="text-violet ft-15 fabold txtunderline" ></Span>
        </FormattedString>
      </Label>
  </StackLayout>
  
  </StackLayout>

</ScrollView>