<ScrollView height="100%" row="1" col="0">
<GridLayout rows="auto,*" columns="*">   
   <common-header col="0" row="0"></common-header>   
    
      <StackLayout margin="210,0,0,0">  
   
   <commonhorizontalscroll></commonhorizontalscroll>
   
   <stacklayout orientation="horizontal" width="100%" height="35" verticalAlignment="top" margin="5,10,0,10">
      <Label text="Catagories" (tap)="GoToCategories()" class="ft20"  width="80%" height="30" style="padding-left: 20;"></Label>     
      <Label  width="20%" height="30" (tap)="GoToSeeAllItems()">
         <FormattedString>
            <Span text="See All  " class="ft20 color-violet"></Span>
               <Span text="&#xf0da;" class="ft18 fas color-violet ml-10"></Span>
           </FormattedString>
     </Label>
   </stacklayout>  
         
    <ng-container *ngIf="!isseeallshow"> 
   <categoryitems></categoryitems>
   </ng-container> 
   
   <ng-container *ngIf="isseeallshow">
   <seeall-items></seeall-items>
   </ng-container>
   
           <stacklayout orientation="horizontal" width="100%" height="50" verticalAlignment="top" backgroundcolor="red">
               <Label text="Recommanded Products" class="ft20"  width="80%" height="40" style="padding-left: 20;"></Label>     
               <Label  width="20%" height="30" (tap)="GoToSeeAllItems1()">
                  <FormattedString>
                   <Span text="See All  " class="ft20 color-violet"></Span>
                      <Span text="&#xf0da;" class="ft18 fas color-violet ml-10"></Span>
                  </FormattedString>
              </Label>
            </stacklayout>
           
   
            <ng-container>
               <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                  <StackLayout orientation="horizontal">
                     <GridLayout  rows="auto" columns="200,200,200,200,200,200,200,200,200,200,200," >
   
                    <ng-container *ngFor = "let item of MixItems">
   
                        <GridLayout rows="*, *, *" columns="*, *" row="{{item.Row}}" col="{{item.Col}}" margin="6" backgroundColor="#ffe6e6">
                    
                        <GridLayout height="50" width="100" row="0" col="0">
                          <image  height="50" width="100" class="cat_image" src="res://discount" stretch="aspectFit" row="0" col="0" margin="6"></image> 
                    
                            <StackLayout row="0" col="0" verticalAlignment="center" horizontalAlignment="left" width="90"  >
                             <Label [text]="item.Discount+'%'" class="bold" margin="0,0,0,35" fontSize="15" color="#fff"></Label>
                         </StackLayout>
                          </GridLayout>
                           
                          <GridLayout  rows="*" columns="*, *" row="0" col="1" width="70" class="cat_image"  marginTop="10">
                           <image row="0" col="0" height="20" width="18" class="cat_image" src="res://rupeeicon" stretch="aspectFit"></image>
                            <label [text]="item.Points+'pts'" row="0" col="1" height="20" width="40"></label>
                          </GridLayout>
                         
                        <image height="100" width="100" class="cat_image" [src]="item.ImageUrl" stretch="aspectFit" row="1" col="0" colSpan="2"></image> 
                       
                        <StackLayout row="2" col="0" colSpan="2" class="text-center">
                          <Label [text]="item.Fname" textWrap="true" class="color-black" alignContent="center"></Label>
                          <Label [text]="item.Lname" textWrap="true" class="color-black" alignContent="center"></Label>           
                        </StackLayout>    
                       </GridLayout> 
                     </ng-container>
               </GridLayout>
         
         </StackLayout>
      </ScrollView>
   </ng-container> 
   
   
   
   <stacklayout orientation="horizontal" width="100%" height="50" verticalAlignment="top" >
      <Label text="Hot Deals" class="ft20"  width="80%" height="40" style="padding-left: 20;"></Label>    
   </stacklayout>
   
   <ng-container margin="0,0,15,10">
      <GridLayout columns="auto,auto" rows="auto" verticalAlignment="top"  margin="5,0,0,0">
   
         <ng-container >
            <GridLayout height="160" margin="0,15,0,15" width="170" class="cat_image" row="0" col="0">
               <image  height="150" margin="5,15,0,15" width="150" class="cat_image"
               src="res://fortune" stretch="aspectFit" ></image>
               </GridLayout>
           </ng-container>
   
   
           <ng-container >
            <GridLayout row="*,*" columns="*" row="0" col="1"  height="160" margin="0,8,0,8" width="170"
             class="cat_image" backgroundColor="#ffe6e6">
               <StackLayout width="140" height="150">
                  <StackLayout row="0" col="0"   class="cat_image1"> 
                      
                          <Image width="135" height="105" row="0" col="0"  class="cat_image"  backgroundColor="#ffe6e6"
                          src="res://hot_deal_tag" stretch="aspectFit">
                          </Image>
                  </StackLayout>
                   <StackLayout>
                     <Label   text="10% off"  width="90" height="35" row="1" col="0" 
                     class="color-black fas25 text-center" alignContent="center"></Label>
                     </StackLayout>
                 </StackLayout>
                 </GridLayout>
             
           </ng-container>
         </GridLayout>                
      </ng-container>
   
    
      <ng-container>
         <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false" backgroundColor="#F0EBAF" margin="15,0,0,0">
            <StackLayout orientation="horizontal">
               <GridLayout  rows="auto" columns="200,200,200,200,200,200,200,200">
              
                  
              <ng-container *ngFor="let item of Buyagainitems">
              <GridLayout row="{{item.Row}}" col="{{item.Col}}" rows="*,*,*,*" columns="*,*,*" margin="15,7.5,15,15"  backgroundColor="#FFFFFF" class="cat_image grid-border">
                    <image [src]="item.ImageUrl" stretch="aspectFit" row="0" col="0" colSpan="3" width="100" height="100" margin="20,20,10,20"></image>
                    <label row="1" col="0" width="150" height="20" [text]="item.Name" margin="0,0,0,10" colspan="3" class="color-black" ></label>
                    <label row="2" col="0" width="100" height="20" [text]="'Qty'+':'+item.Quantity+'Kg'" margin="0,0,0,15" class="color-gray"></label>
                    <label row="2" col="1" width="100" height="20" class="color-Red" [text]="'₹'+item.Cost+'.'+'00'" margin="0,0,0,15"></label>
                    <label row="3" col="0" height="35" class="color-white ft20 cat_image1 text-center" width="250" backgroundColor="#5EC401" text="Buy Again" colSpan="3" 
                    padding="5,0,0,0"></label> 
              </GridLayout>
             </ng-container>
           
   
      </GridLayout>      
   </StackLayout>
   </ScrollView>
   </ng-container> 
          
            
         </StackLayout>
   
</GridLayout> 
</ScrollView>  